<h1>Sign Up confirmation </h1>
<p>Are you sure these values are correct?</p>

<p> <%= "Email: #{@user.email}" %></p>
<p> <%= "Name: #{@user.name}" %></p>
<%= button_to "Yes", {controller: "users", action: "create", params: params.permit! }, class: 'btn btn-success' %>
<!-- NL: By default, a button has a 'post' method. If we want to use it to redirect to a route with a 'get', we have to change the method -->
<%= button_to "No", {controller: "users", action: "new"}, class: 'btn', method: :get %>
