  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= post.title %>
        <small>
         submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
         <%= post.comments.count %> Comments
      </h4>
    </div>
  </div>
